<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq0mdytWPjWh46_d6rmUdz8-vf2l88T84</string>
	<key>GCM_SENDER_ID</key>
	<string>307583797433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alex.PrjRecipeAppIOS</string>
	<key>PROJECT_ID</key>
	<string>prjrecipeappiosdb</string>
	<key>STORAGE_BUCKET</key>
	<string>prjrecipeappiosdb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307583797433:ios:a70f8e49835773e9fbb368</string>
</dict>
</plist>